.hits__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.hits__item {
  position: relative;
  width: 267px;
}

.hits__item:before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-image: url(../img/hit.jpg);
}

.hits__title {
  margin-top: 12px;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.hits__price {
  position: absolute;
  top: 164px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.hits__price--small {
  font-size: 28px;
}
