.slider {
  margin-top: 274px;
  margin-bottom: 54px;
}

.slider__list {
  @include reset-list;
}

.slider__item {
  text-align: center;
}

.slider__item--1 {
  display: block;
}

.slider__item--2 {
  display: none;
}

.slider__item--3 {
  display: none;
}

.slider__title {
  margin: 0 220px 40px;
  text-align: center;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider__button {
  padding: 8px 40px 14px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;

  background: linear-gradient(to bottom, #f26843, #db4c38);
  border-radius: 32px;
  box-shadow: 0 2px 2px #aa5848;
}

.slider__toggles {
  @include reset-list;
}
