/*project colors*/
$white: #fff;
$black: #000;
$background-1: #849d8f;
$background-2: #8996a6;
$background-3: #9d8b84;
//*$green-darker: #1c9b5e;
$grey-light: #d3d3d2;
$grey: #999999;

/*global colors rules*/
$font-color: $white;
$bg--body: $white;
$link-color: $black;
$link-color--hover: $black;

/*global font rules*/
$font: "Roboto", "Arial", sans-serif;
$font-size: 16px;
$line-height: 22px;

/*sizes and breakpoints*/
$mobiles: 320px;
$mobiles-max: 659px;
$tablets: 660px;
$tablets-max: 959px;
$desktops: 960px;
